extends ../layout

block content
    h1= pageTitle
    p
        a(href="/") Go back

    p
        | This endpoint makes several requests to the backend ("resource server"). You can see the results below!

    hr
    div
        h2 Request with a valid Access Token
        p
            | You already performed an OAuth 2.0 Token. Therefore, this consumer application has an access token (it's <code>#{accessToken}</code>).
            | We're making a request to the backend and are including the token in the HTTP request header:
        h3 CURL Equivalent
        pre
            code curl -H "Authorization: bearer #{accessToken}" #{url}
        h3 HTTP Response Body
        pre#with
            code #{valid.body}
    hr
    div
        h2 Request without an Access Token
        p
            | This request will be done without an access token included. The result will be a 401 error.
        h3 CURL Equivalent
        pre
            code curl #{url}
        h3 HTTP Response Body
        pre#without
            code #{empty.body}
    hr
    div
        h2 Request with an invalid Access Token
        p
            | This request uses a random and invalid access token. The result will be a 401 error.
        h3 CURL Equivalent
        pre
            code curl -h "Authorization: invalid-token" #{url}
        h3 HTTP Response Body
        pre#invalid
            code #{invalid.body}
    hr
